.drone_admin .admin_code{
    position: absolute;
    width: 80%;
    background: #237573;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -100px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.drone_admin .admin_code_input{
    padding: 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    display: inline;
    height: 34px;
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
}
.admin_code>span{
    display: block;
    padding: 20px;
    margin: 32px 0 0 0;
    background: #4CAF50;
    border-radius: 3px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.15);
    font-size: 5vw;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
